/* ################################ */
/*           FOOTER STYLE           */
/* ################################ */
footer {
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -9999rem;
    padding: 2.5rem 9999rem;
}
footer .footer__column {
    display: flex;
    flex-direction: column;
}
footer .footer__column .footer__title {
    font-size: 1rem;
    font-weight: 800;
    line-height: 3.125rem;
    padding-left:1.250rem;

}
footer .footer__column .footer__list {
    list-style: none;
    padding-left:1.250rem;
}
footer .footer__column .footer__list .footer__list-item {
    font-weight: normal;
    line-height: 2.188rem;
}
footer .footer__column .footer__list .footer__list-item a {
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}
footer .footer__column .footer__list .footer__list-item a:hover {
    color: #0065fc;
}

/*------ Tablet & Desktop version 768px and above ------*/
@media (max-width: 1339.98px)  {
    footer {
        margin: unset;
        padding-left: unset;
        padding-right: unset;
    }
}
