/* DOCUMENT INFORMATION
	- Document: Project Reservia - OpenClassrooms
	- Version:  1.0
	- Client:   Reservia
	- Author:   Romain Blary   
*/

/* CSS FILES
	1. assets/css/fonts.css
	2. assets/css/general.css
	3. assets/css/header.css
	4. assets/css/main.css
	5. assets/css/footer.css
*/

/* COLORS
	- default body text  #000
	- title text         #000
	- light gray         #f2f2f2
    - blue               #0065fc
    - light blue         #deebff
*/

/* FONTS
	- title hn text   'Raleway', Arial, sans-serif
*/


/* GLOBAL SETTINGS
   -------------------------------------------------------------------- */
::-moz-selection {
    background: #deebff;
}
::selection {
    background: #deebff;
}
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
/* Make images easier to work with */
img {
    max-width: 100%;
    height: auto;
    display: block;
}
html{
    scroll-behavior: smooth;
}
body {
    width: 100%;
    /* max-width: 1400px; */
    margin: auto;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    line-height: 140%;
    overflow-x: hidden;
}
a {
    transition: all 0.3s;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    z-index: 9;
}

/*#########################################################*/
/*
        Brekpoints
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
        xxl: 1400px
*/
/*#########################################################*/
.col-1 {
    flex: 0 0 auto;
    width: calc(1 / 12 * 100% - 1rem);
}
.col-2 {
    flex: 0 0 auto;
    width: calc(1 / 6 * 100% - 1rem);
}
.col-3 {
    flex: 0 0 auto;
    width: calc(1 / 4 * 100% - 1rem);
}
.col-4 {
    flex: 0 0 auto;
    width: calc(1 / 3 * 100% - 1rem);
}
.col-5 {
    flex: 0 0 auto;
    width: calc(5 / 12 * 100% - 1rem);
}
.col-6 {
    flex: 0 0 auto;
    width: calc(1 / 2 * 100% - 1rem);
}
.col-7 {
    flex: 0 0 auto;
    width: calc(7 / 12 * 100% - 1rem);
}
.col-8 {
    flex: 0 0 auto;
    width: calc(2 / 3 * 100% - 1rem);
}
.col-9 {
    flex: 0 0 auto;
    width: calc(3 / 4 * 100% - 1rem);
}
.col-10 {
    flex: 0 0 auto;
    width: calc(5 / 6 * 100% - 1rem);
}
.col-11 {
    flex: 0 0 auto;
    width: calc(11 / 12 * 100% - 1rem);
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .col-sm-1 {
        flex: 0 0 auto;
        width: calc(1 / 12 * 100% - 1rem);
    }
    .col-sm-2 {
        flex: 0 0 auto;
        width: calc(1 / 6 * 100% - 1rem);
    }
    .col-sm-3 {
        flex: 0 0 auto;
        width: calc(1 / 4 * 100% - 1rem);
    }
    .col-sm-4 {
        flex: 0 0 auto;
        width: calc(1 / 3 * 100% - 1rem);
    }
    .col-sm-5 {
        flex: 0 0 auto;
        width: calc(5 / 12 * 100% - 1rem);
    }
    .col-sm-6 {
        flex: 0 0 auto;
        width: calc(1 / 2 * 100% - 1rem);
    }
    .col-sm-7 {
        flex: 0 0 auto;
        width: calc(7 / 12 * 100% - 1rem);
    }
    .col-sm-8 {
        flex: 0 0 auto;
        width: calc(2 / 3 * 100% - 1rem);
    }
    .col-sm-9 {
        flex: 0 0 auto;
        width: calc(3 / 4 * 100% - 1rem);
    }
    .col-sm-10 {
        flex: 0 0 auto;
        width: calc(5 / 6 * 100% - 1rem);
    }
    .col-sm-11 {
        flex: 0 0 auto;
        width: calc(11 / 12 * 100% - 1rem);
    }
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .col-md-1 {
        flex: 0 0 auto;
        width: calc(1 / 12 * 100% - 1rem);
    }
    .col-md-2 {
        flex: 0 0 auto;
        width: calc(1 / 6 * 100% - 1rem);
    }
    .col-md-3 {
        flex: 0 0 auto;
        width: calc(1 / 4 * 100% - 1rem);
    }
    .col-md-4 {
        flex: 0 0 auto;
        width: calc(1 / 3 * 100% - 1rem);
    }
    .col-md-5 {
        flex: 0 0 auto;
        width: calc(5 / 12 * 100% - 1rem);
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: calc(1 / 2 * 100% - 1rem);
    }
    .col-md-7 {
        flex: 0 0 auto;
        width: calc(7 / 12 * 100% - 1rem);
    }
    .col-md-8 {
        flex: 0 0 auto;
        width: calc(2 / 3 * 100% - 1rem);
    }
    .col-md-9 {
        flex: 0 0 auto;
        width: calc(3 / 4 * 100% - 1rem);
    }
    .col-md-10 {
        flex: 0 0 auto;
        width: calc(5 / 6 * 100% - 1rem);
    }
    .col-md-11 {
        flex: 0 0 auto;
        width: calc(11 / 12 * 100% - 1rem);
    }
    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .col-lg-1 {
        flex: 0 0 auto;
        width: calc(1 / 12 * 100% - 1rem);
    }
    .col-lg-2 {
        flex: 0 0 auto;
        width: calc(1 / 6 * 100% - 1rem);
    }
    .col-lg-3 {
        flex: 0 0 auto;
        width: calc(1 / 4 * 100% - 1rem);
    }
    .col-lg-4 {
        flex: 0 0 auto;
        width: calc(1 / 3 * 100% - 1rem);
    }
    .col-lg-5 {
        flex: 0 0 auto;
        width: calc(5 / 12 * 100% - 1rem);
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: calc(1 / 2 * 100% - 1rem);
    }
    .col-lg-7 {
        flex: 0 0 auto;
        width: calc(7 / 12 * 100% - 1rem);
    }
    .col-lg-8 {
        flex: 0 0 auto;
        width: calc(2 / 3 * 100% - 1rem);
    }
    .col-lg-9 {
        flex: 0 0 auto;
        width: calc(3 / 4 * 100% - 1rem);
    }
    .col-lg-10 {
        flex: 0 0 auto;
        width: calc(5 / 6 * 100% - 1rem);
    }
    .col-lg-11 {
        flex: 0 0 auto;
        width: calc(11 / 12 * 100% - 1rem);
    }
    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

/* X-Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
    .col-xl-1 {
        flex: 0 0 auto;
        width: calc(1 / 12 * 100% - 1rem);
    }
    .col-xl-2 {
        flex: 0 0 auto;
        width: calc(1 / 6 * 100% - 1rem);
    }
    .col-xl-3 {
        flex: 0 0 auto;
        width: calc(1 / 4 * 100% - 1rem);
    }
    .col-xl-4 {
        flex: 0 0 auto;
        width: calc(1 / 3 * 100% - 1rem);
    }
    .col-xl-5 {
        flex: 0 0 auto;
        width: calc(5 / 12 * 100% - 1rem);
    }
    .col-xl-6 {
        flex: 0 0 auto;
        width: calc(1 / 2 * 100% - 1rem);
    }
    .col-xl-7 {
        flex: 0 0 auto;
        width: calc(7 / 12 * 100% - 1rem);
    }
    .col-xl-8 {
        flex: 0 0 auto;
        width: calc(2 / 3 * 100% - 1rem);
    }
    .col-xl-9 {
        flex: 0 0 auto;
        width: calc(3 / 4 * 100% - 1rem);
    }
    .col-xl-10 {
        flex: 0 0 auto;
        width: calc(5 / 6 * 100% - 1rem);
    }
    .col-xl-11 {
        flex: 0 0 auto;
        width: calc(11 / 12 * 100% - 1rem);
    }
    .col-xl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

/* XX-Large devices (desktops, 1400px and up) */
@media (min-width: 1400px) {
    .col-xxl-1 {
        flex: 0 0 auto;
        width: calc(1 / 12 * 100% - 1rem);
    }
    .col-xxl-2 {
        flex: 0 0 auto;
        width: calc(1 / 6 * 100% - 1rem);
    }
    .col-xxl-3 {
        flex: 0 0 auto;
        width: calc(1 / 4 * 100% - 1rem);
    }
    .col-xxl-4 {
        flex: 0 0 auto;
        width: calc(1 / 3 * 100% - 1rem);
    }
    .col-xxl-5 {
        flex: 0 0 auto;
        width: calc(5 / 12 * 100% - 1rem);
    }
    .col-xxl-6 {
        flex: 0 0 auto;
        width: calc(1 / 2 * 100% - 1rem);
    }
    .col-xxl-7 {
        flex: 0 0 auto;
        width: calc(7 / 12 * 100% - 1rem);
    }
    .col-xxl-8 {
        flex: 0 0 auto;
        width: calc(2 / 3 * 100% - 1rem);
    }
    .col-xxl-9 {
        flex: 0 0 auto;
        width: calc(3 / 4 * 100% - 1rem);
    }
    .col-xxl-10 {
        flex: 0 0 auto;
        width: calc(5 / 6 * 100% - 1rem);
    }
    .col-xxl-11 {
        flex: 0 0 auto;
        width: calc(11 / 12 * 100% - 1rem);
    }
    .col-xxl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

/***** Visible/Hidden classes *****/
.hidden {
    display: none;
}
@media (min-width: 576px) {
    .sm-hidden {
        display: none;
    }
}
@media (min-width: 768px) {
    .md-hidden {
        display: none;
    }
}
@media (min-width: 992px) {
    .lg-hidden {
        display: none;
    }
}
@media (min-width: 1200px) {
    .xl-hidden {
        display: none;
    }
}
@media (min-width: 1400px) {
    .xxl-hidden {
        display: none;
    }
}
.block {
    display: block;
}
@media (min-width: 576px) {
    .sm-block {
        display: block;
    }
}
@media (min-width: 768px) {
    .md-block {
        display: block;
    }
}
@media (min-width: 992px) {
    .lg-block {
        display: block;
    }
}
@media (min-width: 1200px) {
    .xl-block {
        display: block;
    }
}
@media (min-width: 1400px) {
    .xxl-block {
        display: block;
    }
}
.wrapper {
    width: 100%;
    /* padding-right: 2rem;
    padding-left: 2rem; */
    margin-right: auto;
    margin-left: auto;
}
.fullwidth-wrapper {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .wrapper {
        max-width: 1320px;
    }
}
.row {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}
