/* ################################ */
/*           GENERAL STYLE          */
/* ################################ */

::-moz-selection {
    background: #deebff;
}
::selection {
    background: #deebff;
}
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}
/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}
body {
    scroll-behavior: smooth;
    width: 100%;
    max-width: 1330px;
    margin: auto;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    line-height: 140%;
}
a{
    cursor: pointer;
}

/*#########################################################*/
/*
        Brekpoints
        sm: 576px,
        mb: 768px,
        lg: 1024px,
        xl: 1330px
*/
/*#########################################################*/
.col-1 {
    flex: 0 0 auto;
    width: 8.3333%;
}
.col-2 {
    flex: 0 0 auto;
    width: 16.6667%;
}
.col-3 {
    flex: 0 0 auto;
    width: 25%;
}
.col-4 {
    flex: 0 0 auto;
    width: 33.3333%;
}
.col-5 {
    flex: 0 0 auto;
    width: 41.6667%;
}
.col-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-7 {
    flex: 0 0 auto;
    width: 58.3333%;
}
.col-8 {
    flex: 0 0 auto;
    width: 66.6667%;
}
.col-9 {
    flex: 0 0 auto;
    width: 75%;
}
.col-10 {
    flex: 0 0 auto;
    width: 83.3333%;
}
.col-11 {
    flex: 0 0 auto;
    width: 91.6667%;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
@media (min-width: 576px) {
    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.3333%;
    }
    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.6667%;
    }
    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.3333%;
    }
    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.6667%;
    }
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.3333%;
    }
    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.6667%;
    }
    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.3333%;
    }
    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.6667%;
    }
    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
/* Small devices (landscape phones, less than 768px) */
@media (min-width: 768px) {
    .col-md-1 {
        flex: 0 0 auto;
        width: 8.3333%;
    }
    .col-md-2 {
        flex: 0 0 auto;
        width: 16.6667%;
    }
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
    .col-md-5 {
        flex: 0 0 auto;
        width: 41.6667%;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-md-7 {
        flex: 0 0 auto;
        width: 58.3333%;
    }
    .col-md-8 {
        flex: 0 0 auto;
        width: 66.6667%;
    }
    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-md-10 {
        flex: 0 0 auto;
        width: 83.3333%;
    }
    .col-md-11 {
        flex: 0 0 auto;
        width: 91.6667%;
    }
    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
/* Medium devices (tablets, less than 992px) */
@media (min-width: 1024px) {
    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.3333%;
    }
    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.6667%;
    }
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.6667%;
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.3333%;
    }
    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.6667%;
    }
    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.3333%;
    }
    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.6667%;
    }
    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1330px) {
    .col-xl-1 {
        flex: 0 0 auto;
        width: 8.3333%;
    }
    .col-xl-2 {
        flex: 0 0 auto;
        width: 16.6667%;
    }
    .col-xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
    .col-xl-5 {
        flex: 0 0 auto;
        width: 41.6667%;
    }
    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-xl-7 {
        flex: 0 0 auto;
        width: 58.3333%;
    }
    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.6667%;
    }
    .col-xl-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .col-xl-10 {
        flex: 0 0 auto;
        width: 83.3333%;
    }
    .col-xl-11 {
        flex: 0 0 auto;
        width: 91.6667%;
    }
    .col-xl-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

/***** Visible/Hidden classes *****/
.hidden {
    display: none;
}
@media (min-width: 576px) {
    .sm-hidden {
        display: none;
    }
}
@media (min-width: 768px) {
    .md-hidden {
        display: none;
    }
}
@media (min-width: 1024px) {
    .lg-hidden {
        display: none;
    }
}
@media (min-width: 1330px) {
    .xl-hidden {
        display: none;
    }
}
.block {
    display: block;
}
@media (min-width: 576px) {
    .sm-block {
        display: block;
    }
}
@media (min-width: 768px) {
    .md-block {
        display: block;
    }
}
@media (min-width: 1024px) {
    .lg-block {
        display: block;
    }
}
@media (min-width: 1330px) {
    .xl-block {
        display: block;
    }
}
