/* DOCUMENT INFORMATION
	- Document: Project Reservia - OpenClassrooms
	- Version:  1.0
	- Client:   Reservia
	- Author:   Romain Blary   
*/

/* CSS FILES
	1. assets/css/fonts.css
	2. assets/css/general.css
    3. assets/css/grid.css
	4. assets/css/header--footer.css
	5. assets/css/main.css
*/

/* COLORS
	- default body text  #000
	- title text         #000
	- light gray         #f2f2f2
    - blue               #0065fc
    - light blue         #deebff
*/

/* FONTS
	- title hn text   'Raleway', Arial, sans-serif
*/

/* GLOBAL SETTINGS
   -------------------------------------------------------------------- */
::-moz-selection {
  background: #deebff;
}
::selection {
  background: #deebff;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
/* Make images easier to work with */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  margin: auto;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 16px;
  line-height: 140%;
  overflow-x: hidden;
}
a {
  transition: all 0.3s;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  z-index: 9;
}
a:hover {
  color: #0065fc;
}
article {
  min-width: 13.625rem;
}

/***** flex box *****/
.flex {
  display: flex;
}
.flex-center-item {
  align-items: center;
  justify-content: center;
}

/***** Grid Layout *****/
.grid {
  display: grid !important;
  grid-column-gap: 2rem !important;
  grid-row-gap: 2rem !important;
}
/***** item with drop shadow *****/
.shadow-item {
  box-shadow:0 0.313rem 0.625rem 0.188rem rgba(0, 0, 0, 0.1);
  -webkit-box-shadow:0 0.313rem 0.625rem 0.188rem rgba(0, 0, 0, 0.1);
  -moz-box-shadow:0 0.313rem 0.625rem 0.188rem rgba(0, 0, 0, 0.1);
}
/***** item with rounded corners *****/
.rounded-item {
  border-radius: 1.563rem;
}
.rounded-top-item {
  border-top-left-radius: 1.563em;
  border-top-right-radius: 1.563em;
}
.rounded-left-item {
  border-top-left-radius: 1.563em;
  border-bottom-left-radius: 1.563em;
}
.rounded-bottom-item {
  border-bottom-left-radius: 1.563em;
  border-bottom-right-radius: 1.563em;
}
/***** Scaling img on hover *****/
a img.zoom-hover-effect {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1); /* IE 9 */
  transform: scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
a:hover img.zoom-hover-effect {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/***** Visible/Hidden classes *****/
.hidden {
  display: none;
}
@media screen and (min-width: 36rem) {
  .sm-hidden {
    display: none;
  }
}
@media screen and (min-width: 48rem) {
  .md-hidden {
    display: none;
  }
}
@media screen and (min-width: 62rem) {
  .lg-hidden {
    display: none;
  }
}
@media screen and (min-width: 75rem) {
  .xl-hidden {
    display: none;
  }
}
@media screen and (min-width: 87.5rem) {
  .xxl-hidden {
    display: none;
  }
}
.block {
  display: block;
}
@media screen and (min-width: 36rem) {
  .sm-block {
    display: block;
  }
}
@media screen and (min-width: 48rem) {
  .md-block {
    display: block;
  }
}
@media screen and (min-width: 62rem) {
  .lg-block {
    display: block;
  }
}
@media screen and (min-width: 75rem) {
  .xl-block {
    display: block;
  }
}
@media screen and (min-width: 87.5rem) {
  .xxl-block {
    display: block;
  }
}
