/* ROW / COLUMN SYSTEM
   -------------------------------------------------------------------- */

.row {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

.wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.fullwidth-wrapper {
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 36rem) {
  .wrapper {
    max-width: 33.75rem;
  }
}
@media screen and (min-width: 48rem) {
  .wrapper {
    max-width: 45rem;
  }
}
@media screen and (min-width: 62rem) {
  .wrapper {
    max-width: 60rem;
  }
}
@media screen and (min-width: 75rem) {
  .wrapper {
    max-width: 71.25rem;
  }
}
@media screen and (min-width: 87.5rem) {
  .wrapper {
    max-width: 82.5rem;
  }
}

/*#########################################################*/
/*
		----- RESPONSIVE -----

		Brekpoints
		sm: 36rem,
		md: 48rem,
		lg: 62rem,
		xl: 75rem,
		xxl: 87.5rem
*/
/*#########################################################*/
.col-1 {
  width: calc(1 / 12 * 100% - 1rem);
}
.col-2 {
  width: calc(1 / 6 * 100% - 1rem);
}
.col-3 {
  width: calc(1 / 4 * 100% - 1rem);
}
.col-4 {
  width: calc(1 / 3 * 100% - 1rem);
}
.col-5 {
  width: calc(5 / 12 * 100% - 1rem);
}
.col-6 {
  width: calc(1 / 2 * 100% - 1rem);
}
.col-7 {
  width: calc(7 / 12 * 100% - 1rem);
}
.col-8 {
  width: calc(2 / 3 * 100% - 1rem);
}
.col-9 {
  width: calc(3 / 4 * 100% - 1rem);
}
.col-10 {
  width: calc(5 / 6 * 100% - 1rem);
}
.col-11 {
  width: calc(11 / 12 * 100% - 1rem);
}
.col-12 {
  width: 100%;
}
/* Small devices (landscape phones, 36rem and up) */
@media screen and (min-width: 36rem) {
  .col-sm-1 {
    width: calc(1 / 12 * 100% - 1rem);
  }
  .col-sm-2 {
    width: calc(1 / 6 * 100% - 1rem);
  }
  .col-sm-3 {
    width: calc(1 / 4 * 100% - 1rem);
  }
  .col-sm-4 {
    width: calc(1 / 3 * 100% - 1rem);
  }
  .col-sm-5 {
    width: calc(5 / 12 * 100% - 1rem);
  }
  .col-sm-6 {
    width: calc(1 / 2 * 100% - 1rem);
  }
  .col-sm-7 {
    width: calc(7 / 12 * 100% - 1rem);
  }
  .col-sm-8 {
    width: calc(2 / 3 * 100% - 1rem);
  }
  .col-sm-9 {
    width: calc(3 / 4 * 100% - 1rem);
  }
  .col-sm-10 {
    width: calc(5 / 6 * 100% - 1rem);
  }
  .col-sm-11 {
    width: calc(11 / 12 * 100% - 1rem);
  }
  .col-sm-12 {
    width: 100%;
  }
}
/*Medium devices (tablets, 48rem and up) */
@media screen and (min-width: 48rem) {
  .col-md-1 {
    width: calc(1 / 12 * 100% - 1rem);
  }
  .col-md-2 {
    width: calc(1 / 6 * 100% - 1rem);
  }
  .col-md-3 {
    width: calc(1 / 4 * 100% - 1rem);
  }
  .col-md-4 {
    width: calc(1 / 3 * 100% - 1rem);
  }
  .col-md-5 {
    width: calc(5 / 12 * 100% - 1rem);
  }
  .col-md-6 {
    width: calc(1 / 2 * 100% - 1rem);
  }
  .col-md-7 {
    width: calc(7 / 12 * 100% - 1rem);
  }
  .col-md-8 {
    width: calc(2 / 3 * 100% - 1rem);
  }
  .col-md-9 {
    width: calc(3 / 4 * 100% - 1rem);
  }
  .col-md-10 {
    width: calc(5 / 6 * 100% - 1rem);
  }
  .col-md-11 {
    width: calc(11 / 12 * 100% - 1rem);
  }
  .col-md-12 {
    width: 100%;
  }
}
/* Large devices (desktops, 62rem and up) */
@media screen and (min-width: 62rem) {
  .col-lg-1 {
    width: calc(1 / 12 * 100% - 1rem);
  }
  .col-lg-2 {
    width: calc(1 / 6 * 100% - 1rem);
  }
  .col-lg-3 {
    width: calc(1 / 4 * 100% - 1rem);
  }
  .col-lg-4 {
    width: calc(1 / 3 * 100% - 1rem);
  }
  .col-lg-5 {
    width: calc(5 / 12 * 100% - 1rem);
  }
  .col-lg-6 {
    width: calc(1 / 2 * 100% - 1rem);
  }
  .col-lg-7 {
    width: calc(7 / 12 * 100% - 1rem);
  }
  .col-lg-8 {
    width: calc(2 / 3 * 100% - 1rem);
  }
  .col-lg-9 {
    width: calc(3 / 4 * 100% - 1rem);
  }
  .col-lg-10 {
    width: calc(5 / 6 * 100% - 1rem);
  }
  .col-lg-11 {
    width: calc(11 / 12 * 100% - 1rem);
  }
  .col-lg-12 {
    width: 100%;
  }
}

/* X-Large devices (desktops, 75rem and up) */
@media screen and (min-width: 75rem) {
  .col-xl-1 {
    width: calc(1 / 12 * 100% - 1rem);
  }
  .col-xl-2 {
    width: calc(1 / 6 * 100% - 1rem);
  }
  .col-xl-3 {
    width: calc(1 / 4 * 100% - 1rem);
  }
  .col-xl-4 {
    width: calc(1 / 3 * 100% - 1rem);
  }
  .col-xl-5 {
    width: calc(5 / 12 * 100% - 1rem);
  }
  .col-xl-6 {
    width: calc(1 / 2 * 100% - 1rem);
  }
  .col-xl-7 {
    width: calc(7 / 12 * 100% - 1rem);
  }
  .col-xl-8 {
    width: calc(2 / 3 * 100% - 1rem);
  }
  .col-xl-9 {
    width: calc(3 / 4 * 100% - 1rem);
  }
  .col-xl-10 {
    width: calc(5 / 6 * 100% - 1rem);
  }
  .col-xl-11 {
    width: calc(11 / 12 * 100% - 1rem);
  }
  .col-xl-12 {
    width: 100%;
  }
}
/* XX-Large devices (desktops, 87.5rem and up) */
@media screen and (min-width: 87.5rem) {
  .col-xxl-1 {
    width: calc(1 / 12 * 100% - 1rem);
  }
  .col-xxl-2 {
    width: calc(1 / 6 * 100% - 1rem);
  }
  .col-xxl-3 {
    width: calc(1 / 4 * 100% - 1rem);
  }
  .col-xxl-4 {
    width: calc(1 / 3 * 100% - 1rem);
  }
  .col-xxl-5 {
    width: calc(5 / 12 * 100% - 1rem);
  }
  .col-xxl-6 {
    width: calc(1 / 2 * 100% - 1rem);
  }
  .col-xxl-7 {
    width: calc(7 / 12 * 100% - 1rem);
  }
  .col-xxl-8 {
    width: calc(2 / 3 * 100% - 1rem);
  }
  .col-xxl-9 {
    width: calc(3 / 4 * 100% - 1rem);
  }
  .col-xxl-10 {
    width: calc(5 / 6 * 100% - 1rem);
  }
  .col-xxl-11 {
    width: calc(11 / 12 * 100% - 1rem);
  }
  .col-xxl-12 {
    width: 100%;
  }
}
