/* ################################ */
/*       MAIN CONTENT STYLE         */
/* ################################ */

/******************************************************************
        SECTION 1 - Search form & Filters
 ******************************************************************/
.accommodation-search {
    padding: 1.25rem;
    margin: 1rem 0 0 0;
}
.accommodation-search__txt h1 {
    line-height: 1.875rem;
    margin-bottom: 0.625rem;
}

/*  ||  FORM STYLE  ||  */
.accommodation-search__city-searchform {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 26.25rem;
}
.accommodation-search__city-searchform .city-searchform__btn,
.accommodation-search__city-searchform .searchform__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.125rem;
}
.accommodation-search__city-searchform .searchform__icon {
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.accommodation-search__city-searchform .searchform__icon svg,
.accommodation-search__city-searchform .city-searchform__btn svg {
    font-size: 1.25rem;
}
.accommodation-search__city-searchform .city-searchform__field {
    border: 1px solid #f2f2f2;
    height: 3.125rem;
    flex-grow: 1;
}
.accommodation-search__city-searchform .city-searchform__field[value] {
    font-weight: 600;
    padding-left: 1.25rem;
}
.accommodation-search__city-searchform .city-searchform__btn {
    background-color: #0065fc;
    border-radius: 15px;
    color: #fff;
    border: none;
    margin-left: -0.938rem;
}
/*  ||  FILTERS STYLE  ||  */
.accommodation-search__filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.accommodation-search__filters .accommodation-search__filters__title {
    font-weight: 800;
    width: 100%;
    margin-bottom: 0.625rem;
}
.accommodation-search__filters .accommodation-search__filters__info {
    width: 100%;
    margin: 1.875em 0 0.625rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
}
.accommodation-search__filters .accommodation-search__filters__info .filters__info__icon {
    background-color: transparent;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    width: 1.563rem;
    height: 1.563rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065fc;
    font-size: 0.75rem;
    margin-right: 0.938rem;
    padding: 0 10px;
}
.accommodation-search__filters .filter {
    background: linear-gradient(to right, rgba(222, 235, 255, 1) 50%, rgba(222, 235, 255, 0) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
    border-radius: 1.563rem;
    margin: 0.313rem 0.625rem 0.313rem 0;
    display: flex;
    outline: none;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}
.accommodation-search__filters .filter a {
    text-decoration: none;
    color: #000;
    display: block;
    cursor: pointer;
}
.accommodation-search__filters .filter::before {
    position: absolute;
    border: 3px solid #f2f2f2;
    border-radius: 1.563rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
}
.accommodation-search__filters .filter:hover {
    background-position: left bottom;
}
.accommodation-search__filters .filter .filter__icon {
    background-color: #deebff;
    color: #0065fc;
    border-radius: 50%;
    height: 3.125rem;
    width: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}
.accommodation-search__filters .filter .filter__txt {
    line-height: 3.125rem;
    padding: 0 0.938rem 0 4.063rem;
    font-weight: 600;
    text-transform: capitalize;
}
/******************************************************************
        END SECTION 1 - Search form & Filters
 ******************************************************************/

/******************************************************************
        SECTION 2 - Hosting results
 ******************************************************************/
.accommodation-results .accommodation-list,
.accommodation-results .accommodation-popular {
    padding: 1.25rem;
}
.accommodation-results {
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
}
/*  ||  ACCOMMODATION LIST  ||  */
.accommodation-results .accommodation-list {
    display: flex;
    flex-direction: column;
    order: 2;
    padding-top: 0;
}
.accommodation-results .accommodation-list .accommodation-list__title {
    margin-top: 0.875rem;
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
    width: 100%;
}
.accommodation-results .accommodation-list .accommodation {
    background-color: #fff;
    max-height: 200px;
    border-radius: 1.563em;
    padding: 0.313rem;
    margin-bottom: 0.625rem;
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
}
.accommodation-results .accommodation-list .accommodation a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}
.accommodation-results .accommodation-list .accommodation a .accommodation__img {
    height: 7.188rem;
    padding: 0;
    background: #fff;
    overflow: hidden;
    border-top-left-radius: 1.563em;
    border-top-right-radius: 1.563em;
}
.accommodation-results .accommodation-list .accommodation a .accommodation__img img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    object-fit: cover;
    width: 100%;
}
.accommodation-results .accommodation-list .accommodation a:hover .accommodation__img img {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.accommodation-results .accommodation-list .accommodation a .accommodation__info {
    position: relative;
    bottom: 0.625rem;
    width: 100%;
    background: white;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    height: auto;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
/*  ||  POPULAR ACCOMMODATION LIST  ||  */
.accommodation-results .accommodation-popular {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 1;
    background-color: #f2f2f2;
}
.accommodation-results .accommodation-popular .accommodation-popular__title {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 0.875rem;
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
    width: 100%;
}
.accommodation-results .accommodation-popular .accommodation-popular__title span {
    flex-grow: 1;
}
.accommodation-results .accommodation-popular .popular-item {
    background-color: #fff;
    max-height: 9.063rem;
    border-radius: 1.563em;
    padding: 0.313rem;
    margin-bottom: 0.625rem;
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
}
.accommodation-popular .popular-item a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    height: 100%;
}
.accommodation-popular .popular-item a .popular-item__img {
    /* height: 8.438rem; */
    height: auto;
    padding: 0;
    background: #fff;
    overflow: hidden;
    border-top-left-radius: 1.563em;
    border-bottom-left-radius: 1.563em;
}
.accommodation-popular .popular-item a .popular-item__img img {
    height: 100%;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    object-fit: cover;
    width: 100%;
}
.accommodation-popular .popular-item a:hover .popular-item__img img {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.accommodation-popular .popular-item a .popular-item__info {
    display: flex;
    flex-direction: column;
    padding: 0.625rem 1.25rem;
    color: #000;
}

.accommodation-popular .popular-item a .popular-item__info .popular-item__info__title {
    padding-bottom: 0.313rem;
}
.accommodation-popular .popular-item a .popular-item__info .popular-item__info__night-price,
.accommodation-results .accommodation-list .accommodation a .accommodation__info .accommodation__info__night-price {
    flex-grow: 1;
}
/******************************************************************
        END SECTION 2 - Hosting results
 ******************************************************************/

/******************************************************************
        SECTION 3 - activities
 ******************************************************************/
.related-activities {
    flex-direction: column;
    justify-content: center;
    padding: 0 1.25rem 1.875em 1.25rem;
}
.related-activities h3 {
    line-height: 3.125rem;
    font-size: 1.125rem;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
    width: 100%;
}
.related-activities .activity {
    width: 100%;
    border-radius: 1.563rem;
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
}
.related-activities .activity a {
    display: block;
    width: 100%;
    text-decoration: none;
}

.related-activities .activity a .activity__img {
    width: 100%;
    height: 8.438em;
    padding: 0;
    background: #fff;
    overflow: hidden;
    border-top-left-radius: 1.563em;
    border-top-right-radius: 1.563em;
}
.related-activities .activity a .activity__img img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    object-fit: cover;
    width: 100%;
}
.related-activities .activity a:hover .activity__img img {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.related-activities .activity a .activity__title {
    color: #000;
    background-color: #fff;
    padding-left: 1.25rem;
    padding-top: 0.313rem;
    line-height: 3.125rem;
    border-bottom-left-radius: 1.563em;
    border-bottom-right-radius: 1.563em;
}
/******************************************************************
        END SECTION 3 - activities
 ******************************************************************/

/******************************************************************
        RESPONSIVE STYLE
 ******************************************************************/
/*------ Tablet version 768px to 992px ------*/
@media (min-width: 768px) {
    /***** SECTION 1 - Search *****/
    .accommodation-search__city-searchform .city-searchform__btn {
        width: auto;
        padding: 0 0.625rem;
        border-bottom-left-radius: unset;
        border-top-left-radius: unset;
        cursor: pointer;
    }
    /***** END SECTION 1 *****/

    /***** SECTION 2 - Results *****/
    .accommodation-results .accommodation-list {
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
        column-gap: 2rem;
    }
    .accommodation-results {
        padding: 1.25rem;
    }
    .accommodation-results .accommodation-popular {
        border-radius: 1.563em;
    }
    .accommodation-results .accommodation-popular .popular-item:nth-child(3) {
        margin-left: auto;
        margin-right: auto;
    }
    .accommodation-results .accommodation-popular .popular-item:last-child {
        margin-left: auto;
    }
    /***** END SECTION 2 *****/

    /***** SECTION 3 - Activities *****/
    .related-activities_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);

        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
    }

    .activity:first-child {
        grid-area: 1 / 1 / 3 / 2;
    }

    .activity:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
    }

    .activity:nth-child(3) {
        grid-area: 2 / 2 / 3 / 3;
    }

    .activity:nth-child(4) {
        grid-area: 3 / 1 / 4 / 2;
    }

    .activity:nth-child(5) {
        grid-area: 4 / 1 / 5 / 2;
    }

    .activity:last-child {
        grid-area: 3 / 2 / 5 / 3;
    }
    .related-activities .activity:nth-child(1),
    .related-activities .activity:nth-child(4) {
        height: 28.125rem;
    }
    .related-activities .activity:nth-child(1) a .activity__img,
    .related-activities .activity:nth-child(4) a .activity__img {
        height: 24.688rem;
    }
    .related-activities .activity:nth-child(2),
    .related-activities .activity:nth-child(3),
    .related-activities .activity:nth-child(6),
    .related-activities .activity:nth-child(5) {
        height: 14.063rem;
    }
    .related-activities .activity:nth-child(2) a .activity__img,
    .related-activities .activity:nth-child(3) a .activity__img,
    .related-activities .activity:nth-child(6) a .activity__img,
    .related-activities .activity:nth-child(5) a .activity__img {
        height: 10.625rem;
    }
    /***** END SECTION 3 *****/
}
/*------ Desktop version 992px and above ------*/
@media (min-width: 992px) {
    /***** SECTION 1 - Search *****/
    .accommodation-search__filters .accommodation-search__filters__title {
        width: unset;
        padding-right: 1rem;
        margin-bottom: 0;
    }
    /***** END SECTION 1 *****/

    /***** SECTION 2 - Results *****/
    .accommodation-results .accommodation-list {
        column-gap: 1.5rem;
    }

    .accommodation-results .accommodation-popular .popular-item {
        margin-left: unset !important;
        margin-right: unset !important;
    }
    .accommodation-popular .popular-item a .popular-item__info {
        width: calc(7 / 12 * 100% + 1rem);
        padding: 0.625rem 0.5rem 0.635rem 1.25rem;
    }
    .show-more {
        width: 100%;
    }
    /***** END SECTION 2 *****/

    /***** SECTION 3 - Activities *****/
    /***** END SECTION 3 *****/
}
/*------ Desktop version 1200px and above ------*/
@media (min-width: 1200px) {
    /***** SECTION 1 - Search *****/
    /***** END SECTION 1 *****/

    /***** SECTION 2 - Results *****/
    .accommodation-results {
        flex-direction: row;
    }
    .accommodation-results .accommodation-list {
        padding: 1.25rem;
        order: 1;
    }
    .accommodation-results.accommodation-popular {
        order: 2;
    }
    .accommodation-results .accommodation-list,
    .accommodation-results .accommodation-popular {
        border-radius: 1.563rem;
        background-color: #f2f2f2;
    }
    /***** END SECTION 2 *****/

    /***** SECTION 3 - Activities *****/
    .related-activities_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
    }

    .activity:first-child {
        grid-area: 1 / 1 / 3 / 2;
    }
    .activity:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
    }
    .activity:nth-child(3) {
        grid-area: 2 / 2 / 3 / 3;
    }
    .activity:nth-child(4) {
        grid-area: 1 / 3 / 3 / 4;
    }
    .activity:nth-child(5) {
        grid-area: 1 / 4 / 2 / 5;
    }
    .activity:last-child {
        grid-area: 2 / 4 / 3 / 5;
    }
    /***** END SECTION 3 *****/
}
/*------ Desktop version 1400px and up ------*/
@media (min-width: 1400px) {
    /***** SECTION 1 - Search *****/
    /***** END SECTION 1 *****/

    /***** SECTION 2 - Results *****/
    .accommodation-results .accommodation-list {
        column-gap: 1.4rem;
    }
    /***** END SECTION 2 *****/

    /***** SECTION 3 - Activities *****/
    /***** END SECTION 3 *****/
}

/******************************************************************
        COMMUN STYLE
 ******************************************************************/
article {
    min-width: 13.625rem;
}
article a {
    transition: all .3s;
    cursor: pointer;
}
.accommodation-popular .popular-item a:hover .popular-item__info .popular-item__info__title,
.related-activities .activity a:hover .activity__title,
.accommodation-results .accommodation-list .accommodation a:hover .accommodation__info .accommodation__info__title {
    color: #0065fc;
}
.show-more {
    padding-top: 1.875rem;
}
.show-more a {
    font-weight: 600;
}
.show-more a:hover {
    color: #0065fc;
}
/*****STARS******/
.fa-star {
    font-size: 0.75rem;
    cursor: pointer;
}
/*blue stars*/
.star-blue {
    color: #0065fc;
}
/*Gray stars*/
.star-gray {
    color: #d9d9d9;
}
.star-gray:hover {
    color: #deebff;
}
