@import url('_fonts.css');
@import url('_header.css');
@import url('_main.css');
@import url('_footer.css');

*{
  box-sizing: border-box;
}
body{
  width: 100%;
  margin: auto;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 16px;
}
